.tab-container{
    padding:22px;
    border: 2px solid gray;
    width:70%;
    margin: 0 auto;
}

.tab-header{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom:2px solid gray;
}

.tab-header *{
    padding: 20px
}

.tab-header .selected{
    font-weight: bold;
    color: red
}